/* Green Color Skin. */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: #0b7800;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #62d657;
}

blockquote {
	border-left: 3px solid #0b7800;
}

a {
	color: #0b7800;
}

a:hover{
	color: #62d657;
}

.social-links li a {
    color: #0b7800;
    border: 1px solid #0b7800;
}

.header-top-bar .search-icon {
    color: #0b7800;
    border: 1px solid #0b7800;
}

.site-title a:hover {
    color: #0b7800;
}

.main-navigation a:hover,
.main-navigation .menu-item-has-children > a:hover:after {
	color: #0b7800;
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
	color: #0b7800;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
    color: #0b7800;
}

.slicknav_menu .slicknav_menutxt:hover {
    color: #0b7800;
}

.slicknav_nav .slicknav_arrow:hover {
    background: #0b7800;
}

.slicknav_nav {
    border-top: 2px solid #0b7800;
}

.slicknav_nav a:hover,
.slicknav_nav .slicknav_row:hover,
.slicknav_nav .current_page_item > a,
.slicknav_nav .current-menu-item > a,
.slicknav_nav .current_page_ancestor > a {
    color: #0b7800;
}

.page-header {
    background-color: #0b7800;
}

.read-more-link a.read-more {
    background: #0b7800;
    border: 1px solid #0b7800;
}

.read-more-link a.read-more:hover {
    color: #0b7800;
}

.entry-footer span a {
    border: 1px solid #0b7800;
}

.entry-footer span a:hover {
    background: #0b7800;
}

.previous a,
.next a {
    color: #0b7800;
    border: 1px solid #0b7800;
}

.previous a:hover,
.next a:hover {
    background: #0b7800;
}

.widget-title {
    background: #0b7800;
}

.widget select {
	color: #0b7800;
}

#wp-calendar #today {
	background: #0b7800;
}

.widget-title span {
	border-bottom: 2px solid #0b7800;
}

.footer-widget-area {
    border-bottom: 3px double #0b7800;
}

.go-top {
    background: #0b7800;
    border: 1px solid #0b7800;
}

.go-top:hover {
    color: #0b7800;
}

.comments-area {
	border-top: 4px solid #0b7800;
}

.comment-body a:link,
.comment-body a:visited {
    color: #0b7800;
}

.reply a:link, .reply a:visited {
    background: #0b7800;
}

.reply a:hover,
.reply a:focus {
	background: #0b7800;
}

.comments-nav .nav-previous a,
.comments-nav .nav-next a {
    color: #0b7800;
    border: 1px solid #0b7800;
}

.comments-nav .nav-previous a:hover,
.comments-nav .nav-next a:hover {
    background: #0b7800;
}

@media only screen and (min-width: 992px) {
    
	.main-navigation li::after {
		background: #0b7800;
	}
    
}